{% extends "base.html" %}
{% block title %} Delete Entry {% endblock %}
{% block content %}
	{% if formSuccess == True %}
		<h1>Enter model of aircraft you wish to delete:</h1>
	{% elif formSuccess == False %}
		<h1>Error! That entry does not exist.</h1>
	{% endif %}
	<div class="container">
    <form action="/delete_entries" method="POST">
	  <label>Enter Aircraft Model:</label>
	  <input type="text" name="model" required> <br>
	  <input type="submit">
    </form>
	</div>
{% endblock %}