{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block content %}
	{% if formSuccess == True %}
		<h1>Please enter your login information:</h1>
	{% elif formSuccess == False %}
		<h1>Error! You have entered an invalid username or password.</h1>
	{% endif %}
	<div class="container">
    <form action="/login" method="POST">
      <label>Enter Username:</label>
      <input type="text" name="username" required> <br>
	  <br>
      <label>Enter Password:</label>
      <input type="text" name="password" required> <br>
	  <br>
	  <input type="submit">
    </form>
	</div>
{% endblock %}