<html>
	<head>
		<link href="/static/style.css" rel="stylesheet">
		<title>{% block title %}{% endblock %}</title>
	</head>

	<body>
		{% if userAuth == True %}
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/logout">Logout</a></li>
					<li><a href="/view_user">View User Information</a></li>
					<li><a href="/update_user">Update User</a></li>
					<li><a href="/create_entries">Create Entries</a></li>
					<li><a href="/view_entries">View Entries</a></li>
					<li><a href="/update_entries">Update Entries</a></li>
					<li><a href="/inspection_form">Inspection Forms</a></li>
					<li><a href="/mileageForm1">Mileage Form 1</a></li>
					<li><a href="/mileageForm2">Mileage Form 2</a></li>
                    <li><a href="/view_mileage_list">Mileage List</a></li>
                    <li><a href="/view_available">View Available Vans</a></li>
					<li><a href="/request_form">Request Form</a></li>
					<li><a href="/view_request_list">Request List</a></li>
				</ul>
			</nav>
		{% elif userAuth == False %}
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/create_user">Create User</a></li>
					<li><a href="/inspection_form">Inspection Forms</a></li>
					<li><a href="/mileageForm1">Mileage Form 1</a></li>
					<li><a href="/mileageForm2">Mileage Form 2</a></li>
					<li><a href="/request_form">Request Form</a></li>
				</ul>
			</nav>
		{% endif %}
		{% block content %}
		{% endblock %}
	</body>
</html>
