{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
	{% if userAuth == True %}
	<div id="homeList">
		<h1>VAN CHECKOUT HOME</h1>
		<p>Use the navigation bar to:</p>
		<ul>
			<li>Logout.</li> <br>
			<li>Update an existing user.</li> <br>
			<li>View the request list.</li> <br>
			<li>View the inspection list.</li> <br>
			<li>View the the mileage list.</li> <br>
			<li>View the available vans.</li> <br>
		</ul>
	</div>
	{% elif userAuth == False %}
	<div id="homeList">
		<h1>VAN CHECKOUT HOME</h1>
		<p>Use the navigation bar to:</p>
		<ul>
			<li>Login.</li> <br>
			<li>Fill out the request form.</li> <br>
		</ul>
	</div>
	{% endif %}
{% endblock %}

<html>
	<head>
		<link href="/static/style.css" rel="stylesheet">
		<title>HOME</title>
	</head>
	<body>
			<nav>
				<ul>
					<li><a href="/login">Login</a></li>
					<li><a href="/request_form">Make a request</a></li>
				</ul>
			</nav>
	</body>
</html>

