{% extends "base.html" %}
{% block title %} Home {% endblock %}
{% block content %}
	{% if userAuth == True %}
	<h1>Welcome to The Aircraft Inventory Manager!</h1>
	<p>Use the navigation bar to:</p>
	<ul>
		<li>Login.</li> <br>
		<li>Logout.</li> <br>
		<li>View your user information.</li> <br>
		<li>Update an existing user.</li> <br>
		<li>Create entries.</li> <br>
		<li>View your entries.</li> <br>
		<li>Update entries</li> <br>
		<li>Delete entries.</li> <br>
	</ul>
	{% elif userAuth == False %}
	<h1>Welcome to The: <h1>
	<p id="message">Amazing</p>
	<h1> Aircraft Inventory Manager!</h1>
	<p>Use the navigation bar to:</p>
	<ul>
		<li>Login.</li> <br>
		<li>Logout.</li> <br>
		<li>Create a new user.</li> <br>
	</ul>
	
	<script>
		function getImage() {
			var wordArray = ['Lovely!', 'wonderous', 'Fantastic', 'Hilarious', 'Magnanimous', 'Lonely', 'Temperate', 'Aesthetic', 'Massive', 'Precocious'];
			var maxVal = wordArray.length;
			randVal = Math.floor(Math.random() * maxVal);
			var p = document.getElementById("message");
			p.innerHTML = wordArray[randVal];
		}
		
		window.onload = function() {
			setInterval(getImage, 3000);
		};
	</script
	{% endif %}
{% endblock %}