{% extends "base.html" %}
{% block title %} mileage Record {% endblock %}
{% block content %}
<html>
<body>
    <h1 class="title">Vehicle Mileage Record</h1>
    <form action="mileageForm2" method="POST">
            <label for = "deparT">Departure Date:</label>
		<input type="date" id ="deparT" name="departure" value={{departure}} required><br>
		<br>
 		    <label for = "id_plate"> Vehicle License Plate Number:</label>
		<input type="text" id ="id_plate" name="plateNumber" value={{plateNumber}} maxlength="7" disabled><br>
        <br>
        <label for = "beginM">Beginning Mileage Reading:</label>
				<input type="number" step="0.001" id ="beginM" name="beginMileage" value={{beginMileage}} min=0 required><br>
		<br>
        <label for = "id_dest">Destination:</label>
				<input type="text" id ="id_dest" name="destination" value={{destination}} required><br>
        <br>
        <label for = "endM">Ending Mileage Reading:</label>
            <input type="number" step="0.001" id ="endM" name="endMileage" min="0" required><br>
        <br>
        <label for = "id_course">Course:</label>
				<input type="text" id ="id_course" name="course" value={{course}} required><br>
		<br>
        <label for = "totalM"> Total Miles Traveled:</label>
            <input type="number" step="0.001" id ="totalM" name="totalMiles" min="0" required><br>
        <br>
				<label for = "returnDate"> Date Return:</label>
        <input type="date" id ="returnDate" name="returnDate" required><br>
        <br>
		        <label for = "id_driver">Driver's Name Printed:</label>
		<input type="text" id ="id_driver" name="driverName" value={{driverName}} required><br>
		<br>

        <label for = "sign">Driver's Signature:</label>
				<input type="text" id ="sign" name="signature" value={{signature}} required><br><br>
		<br>
        <label for = "comm">Isssues/Concerns with Vehicle:</label><br>
				<textarea id="comm" name="comments" rows="4" cols="30" >{{comments}}</textarea><br>
		<br>
        <input id="mobileButton" type="submit" value="SUBMIT">
    </form>
</body>
</html>
{% endblock %}