{% extends "base.html" %}
{% block title %} Mileage Form 1 {% endblock %}
{% block content %}
<html>
	<body>
		<p>VEHICLE MILEAGE RECORD</p>
		<form action="" method="">
			<label for = "deparT">Departure Date:</label>
			<input type="date" id ="deparT" name="departure" required><br>

			<label for = "beginM">Beginning Mileage Reading:</label>
			<input type="number" step="0.001" id ="biginM" name="beginMileage" min=0 required><br>

			<label for = "endM">Ending Mileage Reading:</label>
			<input type="number" step="0.001" id ="endM" name="endMileage" min="0" required><br>

			<label for = "totalM"> Total Miles Traveled:</label>
			<input type="number" step="0.001" id ="totalM" name="totalMiles" min="0" required><br>

			<label for = "id_driver">Driver's Name Printed:</label>
			<input type="text" id ="id_driver" name="driverName" required><br>

			<label for = "sign">Driver's Signature:</label>
			<input type="datetime" id ="sign" name="signature" required><br><br>

			<label for = "comm">Isssues/Concerns with Vehicle:</label><br>
			<textarea id="comm" name="comments" rows="4" cols="50"> </textarea><br>
			<input type="submit" value="submit">
		</form>
	</body>
</html>
{% endblock %}