{% extends "base.html" %}
{% block title %} Update User {% endblock %}
{% block content %}
{% if formSuccess == True %}
{% elif formSuccess == False %}
    <script type = "text/javascript">
        function incorrectPass() {
           alert("Error! You have entered an invalid password.");
        }
        incorrectPass();
    </script>
{% endif %}
    <script>
        function showPassword() {
          var x = document.getElementById("passwordBox");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
    </script>
    <h1 class="title">Update Password</h1>
    <br>
	<div id="updateForm">
        <form action="/update_user" method="POST">
          <label>Enter Current Password:</label>
          <input type="password" name="oldPassword" required><br>
    	  <br>
          <label>Enter New Password:</label><input type="password" name="newPassword" id="passwordBox" required><br>
          <br>
		  <input type="checkbox" onclick="showPassword()"><label>Show Password</label>
          <br>
          <br>
    	  <input type="submit" value="UPDATE">
        </form>
	</div>
{% endblock %}