{% extends "index.html" %}
{% block title %}ViewAll{% endblock %}
{% block content %}
<h1>View Available Vehicles<h1>
								{% if available %}
								<table>
												<th>License Plate</th>
												<th>Vehicle Name</th>
												<th>Availabilty</th>
												<tr>
																<td>{{ available.License_Plate }}</td>
																<td>{{ available.Vehicle_Name }}</td>
																<td>{{ available.availability }}</td>
												</tr>
								{% endfor %}
								</table>
								{% endif %}
								{% endblock %}

