{% extends "base.html" %}
{% block title %} View Your Entries {% endblock %}
{% block content %}
	<h1>Types of aircraft owned:</h1>
	<table>
		<tr>
			<th>Manufacturer</th>
			<th>Model</th>
			<th>Number Owned</th>
			<th>Type of Aircraft</th>
			<th>Role</th>
		</tr>
	{% for plane in queryList %}
		<tr>
			<td>{{ plane.manufacturer }}</td>
			<td>{{ plane.model }}</td>
			<td>{{ plane.amount }}</td>
			<td>{{ plane.type }}</td>
			<td>{{ plane.role }}</td>
		</tr>
	{% endfor %}	
	</table>
{% endblock %}