{% extends "base.html" %}
{% block title %} mileage Record {% endblock %}
{% block content %}

    <p>VEHICLE MILEAGE RECORD</p>
    <form action="/view_mileage_detail" method="POST">
        <input type="hidden"  name="id" value={{mileageInfo.id}}>
        <label for = "deparT">Departure Date:</label>
				<input type="date" id ="deparT" name="departure" value={{mileageInfo.departure}} required>

        <label for = "id_plate"> Vehicle License Plate Number:</label>
				<input type="text" id ="id_plate" name="plateNumber" value={{mileageInfo.plateNumber}} maxlength="7" required><br>


        <label for = "beginM">Beginning Mileage Reading:</label>
				<input type="number" step="0.001" id ="beginM" name="beginMileage" value={{mileageInfo.beginMileage}} min=0 required>
        <label for = "id_dest">Destination:</label>
				<input type="text" id ="id_dest" name="destination" value={{mileageInfo.destination}} required><br>

        <label for = "endM">Ending Mileage Reading:</label>
            <input type="number" step="0.001" id ="endM" name="endMileage" min="0" value={{mileageInfo.endMileage}} required>

        <label for = "id_course">Course:</label>
				<input type="text" id ="id_course" name="course" value={{mileageInfo.course}} required><br>

        <label for = "totalM"> Total Miles Traveled:</label>
            <input type="number" step="0.001" id ="totalM" name="totalMiles" min="0" value={{mileageInfo.totalMiles}} required>

        <label for = "returnDate"> Date Return:</label>
            <input type="date" id ="returnDate" name="returnDate" value={{mileageInfo.arrival}} required>

        <label for = "id_driver">Driver's Name Printed:</label>
				<input type="text" id ="id_driver" name="driverName" value={{mileageInfo.driverName}} required><br>

        <label for = "sign">Driver's Signature:</label>
				<input type="text" id ="sign" name="signature" value={{mileageInfo.signature}} required><br><br>

        <label for = "comm">Isssues/Concerns with Vehicle:</label><br>
				<textarea id="comm" name="comments" rows="4" cols="50"> {{mileageInfo.comments}} </textarea><br>
        <input type="submit" name = "submit" value="UPDATE"> or
        <input type="submit" name = "submit" value="DELETE">
        <p><a href = "/view_mileage_list">Go back to mileage List</a></p>
    </form>
{% endblock %}
