{% extends "base.html" %}
{% block title %}View All Inspections{% endblock %}
{% block content %}
<h1>View Inspection List<h1>
<table>
    <tr>
	    <th>IDs</th>
	    <th>Plate Numbers</th>
	    <th>Requester</th>
	    <th>View</th>
	</tr>
    {% for inspection in inspectionList %}
	<tr>
		<td>{{ inspection.id }}</td>
		<td>{{ inspection.vehicleNum }}</td>
		<td>{{ inspection.requester }}</td>
		<td><a href="http://xelectricsheepx.pythonanywhere.com/view_inspection_detail?id={{ inspection.id }}">View detail</a></td>

	</tr>
	{% endfor %}
</table>
{% endblock %}


