
{% extends "base.html" %}
{% block title %}ViewAll{% endblock %}
{% block content %}
<h1 class="title">View Available Vehicles</h1>
	<table id="views">
		<th>License Plate</th>
		<th>Vehicle Name</th>
		<th>Availabilty</th>
		<th>QRcode</th>
		{% for available in available %}
		<tr>
			<td>{{ available.License_Plate }}</td>
			<td>{{ available.Vehicle_Name }}</td>
			<td>{{ available.availability }}</td>
			<td><a href="/viewQR?id={{ available.License_Plate }}">View QR code</a></td>
		</tr>
		{% endfor %}
	</table><br>

<h1 class="title">Add a new Van</h1>
<div id="updateForm">
    <form action="/view_available" method="POST">
      <label>Enter New Vehicle Name:</label>
      <input type="text" name="vehicleName" required><br>
	  <br>
      <label>Enter License Plate:</label>
		<input type="text" name="licenseNum" required><br>
      <br>
	  <input type="submit" name="submitAdd" value="ADD">
    </form>
</div>
<h1 class="title">Remove a Van</h1>
<div id="updateForm">
    <form action="/view_available" method="POST">
      <label>Enter License Plate:</label>
		<input type="text" name="licenseNum" required><br>
      <br>
	  <input type="submit" name="submitDelete" value="DELETE">
    </form>
</div>
{% endblock %}