	html {
		background-color:grey;
		border: thick solid red;
		padding: 30px;
		background-image: url('/static/sky.jpg'); 
	}
	
	nav {
		width: 100%;
	}
	
	nav ul {
		padding: 15px;
		list-style-type: none;	
	}
	
	nav ul li {
		display: inline;
		padding: 10px;
		font-size: 25px;
	}
	
	nav ul li a:link, nav ul li a:visited {
		color: black;
	}
	
	nav ul li a:hover {
		color: orange;
	}
	
	nav ul li {
		background-color:red;
		border: solid black 5px;
	}
	
	table {
		margin-left: 20px;
		margin-right: 20px;
		border: thin solid black;
		border-collapse: collapse;
	}
	
	tr:nth-child(odd) {
		background-color:blue;
		color:red;
	}
	
	td, th {
		border: thin solid black;
		padding-left: 30px;
		padding-right: 30px;
		font-style: times new roman, serif;
		text-align: center;
		font-size: 20px;
	}
	
	th {
		background-color: black;
		color: red;
	}
	
	td {
		text-align: center;
	}

	h1 {
		font-style: bold, times new roman, serif;
		font-size: 35px;
	}
	
	p {
		font-style: bold, times new roman, serif;
		font-size: 25px;
	}
	
	#message {
		font-style: bold, times new roman, serif;
		font-size: 35px;
	}
	
	ul {
		font-style: bold, times new roman, serif;
		font-size: 20px;
	}
	
	li {
		list-style-image: url('/static/airplane_icon.png');
		
	}
	
	.container label {
		font-size: 20px;
		font-style: bold, times new roman, serif;
	}
	
	.container {
		width: 315px;
		clear: both;
	}

	.container input {
		width: 100%;
		clear: both;
	}