{% extends "base.html" %}
{% block title %} Create User {% endblock %}
{% block content %}
	{% if formSuccess == True %}
		<h1>Enter information for new user:</h1>
	{% elif formSuccess == False %}
		<h1>Error! The username you have chosen already exists! Please enter a different username:</h1>
	{% endif %}
	<div class="container">
    <form action="/create_user" method="POST">
	  <label>Enter Name:</label>
	  <input type="text" name="name"> <br>
	  <br>
	  <label>Enter Age:</label>
	  <input type="number" name="age" min="0" max="150"> <br>
	  <br>
      <label>Enter Username:</label>
      <input type="text" name="username" required> <br>
	  <br>
      <label>Enter Password:</label>
      <input type="text" name="password" required> <br>
	  <br>
	  <input type="submit">
    </form>
	</div>
{% endblock %}